.title-header{
  font-size: 36px;
  font-weight: bold;
}

.setup-page-toggle-button {
  padding-left: 20px;
  padding-right: 20px;
}

.setup_page_icon {
  margin-bottom: -65px;
  margin-top: -80px;
}
